In [1]:
import pandas as pd
loans_2007 = pd.read_csv('LoanStats3a.csv', skiprows=1)
half_count = len(loans_2007) / 2
loans_2007 = loans_2007.dropna(thresh=half_count, axis=1)
loans_2007 = loans_2007.drop(['desc', 'url'],axis=1)
loans_2007.to_csv('loans_2007.csv', index=False)

/Users/nanji/miniconda3/envs/py35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
import pandas as pd
loads_2007=pd.read_csv('loads_2007.csv')
loads_2007.drop_duplicates() 
print(loads_2007.iloc[0])
print(loads_2007.shape[1])

id                                1077501
member_id                      1.2966e+06
loan_amnt                            5000
funded_amnt                          5000
funded_amnt_inv                      4975
term                            36 months
int_rate                           10.65%
installment                        162.87
grade                                   B
sub_grade                              B2
emp_title                             NaN
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
issue_d                          Dec-2011
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
zip_code                            860xx
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
inq_last_6mths                          1
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                     f
out_prncp                               0
out_prncp_inv                           0
total_pymnt                       5863.16
total_pymnt_inv                   5833.84
total_rec_prncp                      5000
total_rec_int                      863.16
total_rec_late_fee                      0
recoveries                              0
collection_recovery_fee                 0
last_pymnt_d                     Jan-2015
last_pymnt_amnt                    171.62
last_credit_pull_d               Nov-2016
collections_12_mths_ex_med              0
policy_code                             1
application_type               INDIVIDUAL
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
Name: 0, dtype: object
52

/Users/nanji/miniconda3/envs/py35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loans_2007 = loans_2007.drop(["id", "member_id", "funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d"], axis=1)

In [4]:
loans_2007 = loans_2007.drop(["zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp"], axis=1)

In [5]:
loans_2007 = loans_2007.drop(["total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"], axis=1)

In [6]:
print(loans_2007.iloc[0])
print(loans_2007.shape)

loan_amnt                            5000
term                            36 months
int_rate                           10.65%
installment                        162.87
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
inq_last_6mths                          1
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                     f
last_credit_pull_d               Nov-2016
collections_12_mths_ex_med              0
policy_code                             1
application_type               INDIVIDUAL
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
Name: 0, dtype: object
(42538, 32)

In [7]:
print(loads_2007['loan_status'].value_counts())

Fully Paid                                             33902
Charged Off                                             5658
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Current                                                  201
Late (31-120 days)                                        10
In Grace Period                                            9
Late (16-30 days)                                          5
Default                                                    1
Name: loan_status, dtype: int64

In [8]:
loads_2007=loans_2007[(loads_2007['loan_status']=='Fully Paid')|(loans_2007['loan_status']=='Charged Off')]
status_replace={
    "loan_status":{
        "Fully Paid":1,
        "Charged Off":0
    }
}
loans_2007=loans_2007.replace(status_replace)

In [9]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,initial_list_status,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,n,...,f,Nov-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,n,...,f,Oct-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,n,...,f,Nov-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,n,...,f,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,Current,n,...,f,Nov-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [10]:
orig_columns=loans_2007.columns
drop_columns=[]
for col in orig_columns:
    col_series=loans_2007[col].dropna().unique()
    if len(col_series)==1:
        drop_columns.append(col)
loans_2007=loans_2007.drop(drop_columns,axis=1)
print(drop_columns)

['initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'chargeoff_within_12_mths']

In [11]:
import pandas as pd
loans=pd.read_csv('filtered_loans_2007.csv')

In [12]:
loans.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,pub_rec_bankruptcies
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,n,...,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,Nov-2016,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,n,...,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,Oct-2016,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,n,...,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,Nov-2016,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,n,...,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,Apr-2016,0.0
4,5000.0,36 months,7.90%,156.46,3 years,RENT,36000.0,Source Verified,1,n,...,0.0,Nov-2004,3.0,9.0,0.0,7963.0,28.3%,12.0,Jan-2016,0.0

In [13]:
null_counts=loans.isnull().sum()

In [14]:
null_counts

loan_amnt                 0
term                      0
int_rate                  0
installment               0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
loan_status               0
pymnt_plan                0
purpose                   0
title                    10
addr_state                0
dti                       0
delinq_2yrs               0
earliest_cr_line          0
inq_last_6mths            0
open_acc                  0
pub_rec                   0
revol_bal                 0
revol_util               50
total_acc                 0
last_credit_pull_d        2
pub_rec_bankruptcies    697
dtype: int64

In [15]:
loans=loans.drop('pub_rec_bankruptcies',axis=1)

In [16]:
loans.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,n,...,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,Nov-2016
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,n,...,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,Oct-2016
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,n,...,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,Nov-2016
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,n,...,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,Apr-2016
4,5000.0,36 months,7.90%,156.46,3 years,RENT,36000.0,Source Verified,1,n,...,11.20,0.0,Nov-2004,3.0,9.0,0.0,7963.0,28.3%,12.0,Jan-2016

In [17]:
loans=loans.dropna(axis=0)

In [18]:
print(loans.dtypes.value_counts())

object     12
float64    10
int64       1
dtype: int64

In [19]:
loans.dtypes

loan_amnt              float64
term                    object
int_rate                object
installment            float64
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
loan_status              int64
pymnt_plan              object
purpose                 object
title                   object
addr_state              object
dti                    float64
delinq_2yrs            float64
earliest_cr_line        object
inq_last_6mths         float64
open_acc               float64
pub_rec                float64
revol_bal              float64
revol_util              object
total_acc              float64
last_credit_pull_d      object
dtype: object

In [20]:
object_columns_df=loans.select_dtypes(include=['object'])
print(object_columns_df)

             term int_rate emp_length home_ownership verification_status  \
0       36 months   10.65%  10+ years           RENT            Verified
1       60 months   15.27%   < 1 year           RENT     Source Verified
2       36 months   15.96%  10+ years           RENT        Not Verified
3       36 months   13.49%  10+ years           RENT     Source Verified
4       36 months    7.90%    3 years           RENT     Source Verified
5       60 months   15.96%    8 years           RENT        Not Verified
6       36 months   18.64%    9 years           RENT     Source Verified
7       60 months   21.28%    4 years            OWN     Source Verified
8       60 months   12.69%   < 1 year           RENT            Verified
9       60 months   14.65%    5 years            OWN        Not Verified
10      36 months   12.69%  10+ years            OWN     Source Verified
11      36 months   13.49%   < 1 year           RENT     Source Verified
12      36 months    9.91%    3 years           RENT     Source Verified
13      36 months   10.65%    3 years           RENT     Source Verified
14      36 months   16.29%   < 1 year           RENT        Not Verified
15      36 months   15.27%    4 years           RENT        Not Verified
16      36 months    6.03%  10+ years       MORTGAGE        Not Verified
17      36 months   11.71%     1 year       MORTGAGE            Verified
18      36 months    6.03%    6 years           RENT        Not Verified
19      60 months   15.27%    3 years           RENT            Verified
20      36 months   12.42%  10+ years           RENT            Verified
21      36 months   11.71%  10+ years            OWN     Source Verified
22      36 months   11.71%    5 years           RENT        Not Verified
23      36 months   11.71%     1 year           RENT        Not Verified
24      36 months    9.91%    2 years       MORTGAGE            Verified
25      36 months   14.27%    9 years           RENT        Not Verified
26      60 months   16.77%    2 years           RENT        Not Verified
27      36 months   11.71%  10+ years       MORTGAGE        Not Verified
28      36 months   11.71%   < 1 year           RENT     Source Verified
29      36 months    7.51%    7 years       MORTGAGE     Source Verified
...           ...      ...        ...            ...                 ...
39530   36 months   12.49%    9 years            OWN        Not Verified
39531   36 months   13.43%    6 years       MORTGAGE        Not Verified
39532   36 months   11.54%   < 1 year           RENT        Not Verified
39533   36 months   10.59%    3 years           RENT        Not Verified
39534   36 months   15.96%     1 year           RENT        Not Verified
39535   36 months    9.01%     1 year       MORTGAGE        Not Verified
39536   36 months    9.96%   < 1 year           RENT        Not Verified
39537   36 months    7.43%    8 years       MORTGAGE        Not Verified
39538   36 months    7.43%    7 years       MORTGAGE        Not Verified
39539   36 months   10.59%    2 years           RENT        Not Verified
39540   36 months   10.28%   < 1 year           RENT        Not Verified
39541   36 months    9.01%     1 year           RENT        Not Verified
39542   36 months    8.38%    4 years           RENT        Not Verified
39543   36 months    7.75%   < 1 year           RENT        Not Verified
39544   36 months    8.38%    7 years       MORTGAGE        Not Verified
39545   36 months   11.22%     1 year            OWN        Not Verified
39546   36 months   10.28%    2 years       MORTGAGE        Not Verified
39547   36 months    8.70%   < 1 year       MORTGAGE        Not Verified
39548   36 months    7.43%    8 years       MORTGAGE        Not Verified
39549   36 months    8.07%   < 1 year       MORTGAGE        Not Verified
39550   36 months    9.33%    2 years       MORTGAGE        Not Verified
39551   36 months    9.96%    4 years       MORTGAGE        Not Verified
39552   36 months   11.22%   < 1 year            OWN        Not Verified
39553   36 months    7.43%     1 year            OWN        Not Verified
39554   36 months    8.70%    5 years       MORTGAGE        Not Verified
39555   36 months    8.07%    4 years       MORTGAGE        Not Verified
39556   36 months   10.28%    3 years           RENT        Not Verified
39557   36 months    8.07%   < 1 year       MORTGAGE        Not Verified
39558   36 months    7.43%   < 1 year       MORTGAGE        Not Verified
39559   36 months   13.75%   < 1 year            OWN        Not Verified

      pymnt_plan             purpose                                    title  \
0              n         credit_card                                 Computer
1              n                 car                                     bike
2              n      small_business                     real estate business
3              n               other                                 personel
4              n             wedding    My wedding loan I promise to pay back
5              n  debt_consolidation                                     Loan
6              n                 car                          Car Downpayment
7              n      small_business     Expand Business & Buy Debt Portfolio
8              n               other              Building my credit history.
9              n  debt_consolidation               High intrest Consolidation
10             n  debt_consolidation                            Consolidation
11             n  debt_consolidation                                  freedom
12             n         credit_card                            citicard fund
13             n               other                               Other Loan
14             n  debt_consolidation                  Debt Consolidation Loan
15             n    home_improvement                                     Home
16             n      major_purchase                                  Holiday
17             n             medical                                  Medical
18             n  debt_consolidation      lowerratemeanseasiertogetoutofdebt!
19             n  debt_consolidation                Freedom From Credit Cards
20             n  debt_consolidation                             Debt Cleanup
21             n         credit_card                         Credit Card Loan
22             n  debt_consolidation                       Debt Consolidation
23             n      major_purchase                                     cash
24             n         credit_card                No more credit card debt!
25             n  debt_consolidation                            consolidation
26             n               other                                    Other
27             n  debt_consolidation                       Debt Consolidation
28             n         credit_card               Credit card repayment loan
29             n  debt_consolidation                       Debt Consolidation
...          ...                 ...                                      ...
39530          n         credit_card                 refinancing credit cards
39531          n         credit_card                              refinancing
39532          n         credit_card                   Bank of America- Blah!
39533          n      small_business               Invest in Zensah Inventory
39534          n  debt_consolidation                            Consolidation
39535          n               other                             ..and a Pony
39536          n         educational  Starving student needs means of living.
39537          n    home_improvement                              New kitchen
39538          n            vacation                     Mortgage Pre-Payment
39539          n      small_business           Recycling Plant in East Africa
39540          n      small_business       Web Design Business Expansion Loan
39541          n         credit_card                             Credit Cards
39542          n            vacation                                   Europe
39543          n         educational               Help with college expenses
39544          n         credit_card                Refinance for better rate
39545          n         credit_card                     Stupid credit cards!
39546          n    home_improvement        Roofdeck for my new NYC apartment
39547          n      small_business                        Home Based Bakery
39548          n  debt_consolidation                                  My Loan
39549          n    home_improvement                     remodelin my kitchen
39550          n    home_improvement                     home improvment loan
39551          n  debt_consolidation                                 Tito5000
39552          n         credit_card                   P's Family Credit Loan
39553          n         credit_card                      My Credit Card Loan
39554          n         credit_card                  Reduce Credit Card Debt
39555          n    home_improvement                         Home Improvement
39556          n         credit_card                Retiring credit card debt
39557          n  debt_consolidation                   MBA Loan Consolidation
39558          n               other                                 JAL Loan
39559          n  debt_consolidation                       Consolidation Loan

      addr_state earliest_cr_line revol_util last_credit_pull_d
0             AZ         Jan-1985      83.7%           Nov-2016
1             GA         Apr-1999       9.4%           Oct-2016
2             IL         Nov-2001      98.5%           Nov-2016
3             CA         Feb-1996        21%           Apr-2016
4             AZ         Nov-2004      28.3%           Jan-2016
5             NC         Jul-2005      85.6%           Sep-2016
6             CA         Jan-2007      87.5%           Dec-2014
7             CA         Apr-2004      32.6%           Oct-2016
8             TX         Sep-2004      36.5%           Oct-2016
9             AZ         Jan-1998      20.6%           Dec-2015
10            CA         Oct-1989      67.1%           Aug-2013
11            VA         Apr-2004      91.7%           Oct-2016
12            IL         Jul-2003      43.1%           Nov-2016
13            CA         May-1991      55.5%           Oct-2016
14            MO         Sep-2007      81.5%           Nov-2016
15            CA         Oct-1998      70.2%           Apr-2015
16            CT         Aug-1993        16%           May-2014
17            UT         Oct-2003     37.73%           Jul-2015
18            CA         Jan-2001      23.1%           Feb-2016
19            TX         Nov-1997      85.6%           Jun-2016
20            FL         Feb-1983      90.3%           Nov-2016
21            TX         Jul-1985      82.4%           Nov-2016
22            CA         Apr-2003      91.8%           Mar-2014
23            CA         Jun-2001      29.7%           Oct-2016
24            IL         Feb-2002      93.9%           Sep-2012
25            NY         Oct-2003      57.6%           Nov-2016
26            PA         Oct-2003      59.5%           Oct-2016
27            FL         Aug-1984      37.7%           Nov-2016
28            MN         Nov-2006      59.1%           Jan-2015
29            NY         Dec-1987      86.9%           Dec-2014
...          ...              ...        ...                ...
39530         FL         Apr-1995      93.4%           Jul-2010
39531         FL         Jan-1996      74.1%           Nov-2016
39532         ME         May-2004      75.8%           Aug-2016
39533         FL         Feb-1969       8.1%           Jul-2007
39534         MA         Aug-2003      92.3%           Jul-2010
39535         NY         Apr-2003      36.6%           Jul-2010
39536         FL         Dec-2002      41.1%           Nov-2016
39537         GA         Dec-1987      19.5%           Jun-2007
39538         MA         Jul-2000       6.8%           Jun-2007
39539         NY         Jan-2000      23.3%           Jun-2010
39540         CO         Sep-2003      54.4%           Oct-2010
39541         VA         Jan-1999      37.6%           Jul-2010
39542         IN         Jun-1995      23.9%           Jun-2007
39543         GA         Mar-1989      16.5%           Dec-2013
39544         IN         Feb-1992      14.4%           Jul-2010
39545         GA         Apr-1993      47.1%           Oct-2012
39546         NY         Feb-1997         0%           Feb-2013
39547         MA         Sep-2000       7.8%           Jul-2010
39548         MA         Oct-1997      16.9%           Jun-2010
39549         WI         Jun-1996      26.3%           Jun-2007
39550         WI         Feb-1995      39.2%           Jun-2007
39551         FL         Aug-1995      48.6%           Jun-2010
39552         WI         Jul-1996      16.1%           Jun-2007
39553         WI         Oct-1997       0.6%           Jun-2007
39554         CO         May-1994        23%           Nov-2014
39555         CO         Nov-1990      13.1%           Jun-2010
39556         NC         Dec-1986      26.9%           Jul-2010
39557         MA         Oct-1998      19.4%           Jun-2007
39558         MD         Nov-1988       0.7%           Jun-2007
39559         MA         Oct-2003      51.5%           Jun-2010

[39498 rows x 12 columns]

In [21]:
cols=["home_ownership","verification_status","emp_length","term","addr_state"]
for c in cols: 
    print(c,":\n",loans[c].value_counts())

home_ownership :
 RENT        18780
MORTGAGE    17574
OWN          3045
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
verification_status :
 Not Verified       16856
Verified           12705
Source Verified     9937
Name: verification_status, dtype: int64
emp_length :
 10+ years    8821
< 1 year     4563
2 years      4371
3 years      4074
4 years      3409
5 years      3270
1 year       3227
6 years      2212
7 years      1756
8 years      1472
9 years      1254
n/a          1069
Name: emp_length, dtype: int64
term :
  36 months    29041
 60 months    10457
Name: term, dtype: int64
addr_state :
 CA    7070
NY    3788
FL    2856
TX    2714
NJ    1838
IL    1517
PA    1504
VA    1400
GA    1393
MA    1336
OH    1208
MD    1049
AZ     874
WA     834
CO     786
NC     780
CT     747
MI     722
MO     682
MN     611
NV     492
SC     470
WI     453
AL     446
OR     445
LA     435
KY     325
OK     298
KS     269
UT     256
AR     243
DC     211
RI     198
NM     188
WV     176
NH     172
HI     172
DE     113
MT      84
WY      83
AK      79
SD      63
VT      54
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

In [22]:
print(loans['purpose'].value_counts())

debt_consolidation    18533
credit_card            5099
other                  3963
home_improvement       2965
major_purchase         2181
small_business         1815
car                    1544
wedding                 945
medical                 692
moving                  581
vacation                379
house                   378
educational             320
renewable_energy        103
Name: purpose, dtype: int64

In [23]:
print(loans['title'].value_counts())

Debt Consolidation                                       2168
Debt Consolidation Loan                                  1706
Personal Loan                                             658
Consolidation                                             509
debt consolidation                                        502
Credit Card Consolidation                                 356
Home Improvement                                          354
Debt consolidation                                        333
Small Business Loan                                       322
Credit Card Loan                                          313
Personal                                                  308
Consolidation Loan                                        255
Home Improvement Loan                                     246
personal loan                                             234
personal                                                  220
Loan                                                      212
Wedding Loan                                              209
consolidation                                             200
Car Loan                                                  200
Other Loan                                                190
Credit Card Payoff                                        155
Wedding                                                   152
Major Purchase Loan                                       144
Credit Card Refinance                                     143
Consolidate                                               127
Medical                                                   122
Credit Card                                               117
home improvement                                          111
My Loan                                                    94
Credit Cards                                               93
                                                         ...
Debt consolidation loan for grad school                     1
Getting my life back loan                                   1
Nannys Car                                                  1
Car loan for my graduate                                    1
Financial Restructure loan                                  1
business supplies                                           1
land improvement                                            1
Martin loan                                                 1
refinancing credit cards                                    1
wedding bill                                                1
debt consult                                                1
Marlene                                                     1
Pre-K Tuition                                               1
Chambers                                                    1
Git outta debt, monsta!                                     1
HomeImprov1                                                 1
Single father looking to consolidate debt                   1
Wedding and Debt                                            1
amazing                                                     1
1999 BMW M3                                                 1
Credit card payoff loan                                     1
IRSWoes                                                     1
RRICHA595ConsolidationLoan                                  1
High credit card rates giving great couple the blues~       1
Looking to eliminate high interest debt                     1
down payment for home                                       1
Trust                                                       1
Credit card & medical bill consolidation                    1
Loan for MAJ D                                              1
Freedom from high credit card interest rates                1
Name: title, Length: 19560, dtype: int64

In [24]:
mapping_dict={
    "emp_length":{
        "10+ years":10,
        "< 1 year":0,      
        "2 years":2,
        "3 years":3,       
        "4 years":4,       
        "5 years":5,       
        "1 year":1,        
        "6 years":6,      
        "7 years":7,       
        "8 years":8,       
        "9 years":9,
        "n/a":0
    }
}
loans=loans.drop(['last_credit_pull_d','earliest_cr_line','addr_state','title'],axis=1)
loans['int_rate']=loans['int_rate'].str.rstrip('%').astype('float')
loans['revol_util']=loans['revol_util'].str.rstrip('%').astype('float')
loans=loans.replace(mapping_dict)

In [25]:
cat_columns=['home_ownership','verification_status','emp_length','purpose','term']
dummy_df=pd.get_dummies(loans[cat_columns])
loans=pd.concat([loans,dummy_df],axis=1)
loans=loans.drop(cat_columns,axis=1)

In [26]:
import pandas as pd
loans=pd.read_csv('cleaned_loans2007.csv')
print(loans.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39498 entries, 0 to 39497
Data columns (total 37 columns):
loan_amnt                              39498 non-null float64
int_rate                               39498 non-null float64
installment                            39498 non-null float64
annual_inc                             39498 non-null float64
loan_status                            39498 non-null int64
dti                                    39498 non-null float64
delinq_2yrs                            39498 non-null float64
inq_last_6mths                         39498 non-null float64
open_acc                               39498 non-null float64
pub_rec                                39498 non-null float64
revol_bal                              39498 non-null float64
revol_util                             39498 non-null float64
total_acc                              39498 non-null float64
home_ownership_MORTGAGE                39498 non-null int64
home_ownership_NONE                    39498 non-null int64
home_ownership_OTHER                   39498 non-null int64
home_ownership_OWN                     39498 non-null int64
home_ownership_RENT                    39498 non-null int64
verification_status_Not Verified       39498 non-null int64
verification_status_Source Verified    39498 non-null int64
verification_status_Verified           39498 non-null int64
purpose_car                            39498 non-null int64
purpose_credit_card                    39498 non-null int64
purpose_debt_consolidation             39498 non-null int64
purpose_educational                    39498 non-null int64
purpose_home_improvement               39498 non-null int64
purpose_house                          39498 non-null int64
purpose_major_purchase                 39498 non-null int64
purpose_medical                        39498 non-null int64
purpose_moving                         39498 non-null int64
purpose_other                          39498 non-null int64
purpose_renewable_energy               39498 non-null int64
purpose_small_business                 39498 non-null int64
purpose_vacation                       39498 non-null int64
purpose_wedding                        39498 non-null int64
term_ 36 months                        39498 non-null int64
term_ 60 months                        39498 non-null int64
dtypes: float64(12), int64(25)
memory usage: 11.1 MB
None

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
# lr=LogisticRegression(random_state=0, max_iter=100)
lr=LogisticRegression()
cols=loans.columns
train_cols=cols.drop('loan_status')
features=loans[train_cols]
target=loans['loan_status']
lr.fit(features,target)
predictions=lr.predict(features)

In [29]:
features.shape

(39498, 36)

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_predict,KFold
lr = LogisticRegression()

kf=KFold(features.shape[0],random_state=1)
predictions=cross_val_predict(lr,features,target,cv=kf)
predictions=pd.Series(predictions)
fp_filter=(predictions==1)&(loans['loan_status']==0)
fp=len(predictions[fp_filter])

tp_filter=(predictions==1)&(loans['loan_status']==1)
tp=len(predictions[fp_filter])

fn_filter=(predictions==0)&(loans['loan_status']==1)
fn=len(predictions[fn_filter])

tn_filter=(predictions==0)&(loans['loan_status']==0)
tn=len(predictions[tn_filter])
tpr=tp/float((tp+fn))
fpr=fp/float((fp+tn))
print(tpr)
print(fpr) 
print(predictions[:20])

0.9948708878669968
0.9975172902996985
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
dtype: int64

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_predict,KFold
lr = LogisticRegression(class_weight='balanced')

kf=KFold(features.shape[0],random_state=1)
predictions=cross_val_predict(lr,features,target,cv=kf)
predictions=pd.Series(predictions)
fp_filter=(predictions==1)&(loans['loan_status']==0)
fp=len(predictions[fp_filter])

tp_filter=(predictions==1)&(loans['loan_status']==1)
tp=len(predictions[fp_filter])

fn_filter=(predictions==0)&(loans['loan_status']==1)
fn=len(predictions[fn_filter])

tn_filter=(predictions==0)&(loans['loan_status']==0)
tn=len(predictions[tn_filter])
tpr=tp/float((tp+fn))
fpr=fp/float((fp+tn))
print(tpr)
print(fpr)
print(predictions[:20])

0.1538240780599799
0.380209256960454
0     1
1     0
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    1
14    0
15    0
16    1
17    1
18    1
19    0
dtype: int64

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_predict
penalty={
    0:10,
    1:1
}
lr=LogisticRegression(class_weight=penalty)
kf=KFold(features.shape[0],random_state=1)
predictions=cross_val_predict(lr,features,target,cv=kf)
predictions=pd.Series(predictions)
# False positive 
fp_filter=(predictions==1)&(loans['loan_status']==0)
fp=len(predictions[fp_filter])

# True positive 
tp_filter=(predictions==1)&(loans['loan_status']==1)
tp =len(predictions[tp_filter])

# false negative 
fn_filter=(predictions==0)&(loans['loan_status']==0)
fn =len(predictions[tp_filter])
# True negative 
tn_filter=(predictions==0)&(loans['loan_status']==1)
tn=len(predictions[tp_filter])
tpr=tp/float((tp+tn))
fpr=fp/float((fp+tn))
print(tpr)
print(fpr)
print(predictions[:20])

0.5
0.055651958353991074
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    1
17    0
18    1
19    0
dtype: int64

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_predict
penalty={
    0:5,
    1:1
}
lr=LogisticRegression(class_weight=penalty)
kf=KFold(features.shape[0],random_state=1)
predictions=cross_val_predict(lr,features,target,cv=kf)
predictions=pd.Series(predictions)
# False positive 
fp_filter=(predictions==1)&(loans['loan_status']==0)
fp=len(predictions[fp_filter])

# True positive 
tp_filter=(predictions==1)&(loans['loan_status']==1)
tp =len(predictions[tp_filter])

# false negative 
fn_filter=(predictions==0)&(loans['loan_status']==0)
fn =len(predictions[tp_filter])
# True negative 
tn_filter=(predictions==0)&(loans['loan_status']==1)
tn=len(predictions[tp_filter])
tpr=tp/float((tp+tn))
fpr=fp/float((fp+tn))
print(tpr)
print(fpr)
print(predictions[:20])

0.5
0.09813448058450469
0     1
1     0
2     0
3     1
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    1
12    1
13    1
14    0
15    0
16    1
17    1
18    1
19    0
dtype: int64

In [48]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_predict
rf=RandomForestClassifier(class_weight='balanced',random_state=1)
kf=KFold(features.shape[0],random_state=1)
predictions=cross_val_predict(rf,features,target,cv=kf)
predictions=pd.Series(predictions)

# False positive 
fp_filter=(predictions==1)&(loans['loan_status']==0)
fp=len(predictions[fp_filter])

# True positive 
tp_filter=(predictions==1)&(loans['loan_status']==1)
tp =len(predictions[tp_filter])

# false negative 
fn_filter=(predictions==0)&(loans['loan_status']==0)
fn =len(predictions[tp_filter])
# True negative 
tn_filter=(predictions==0)&(loans['loan_status']==1)
tn=len(predictions[tp_filter])
tpr=tp/float((tp+tn))
fpr=fp/float((fp+tn))
print(tpr)
print(fpr)
print(predictions[:20])

0.5
0.13861024033437827
0     1
1     1
2     1
3     1
4     1
5     0
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    0
dtype: int64

In [49]:
features.shape

(39498, 36)

In [50]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_predict
rf=RandomForestClassifier(n_estimators=10,class_weight='balanced',random_state=1)

kf=KFold(features.shape[0],random_state=1) 
predictions=cross_val_predict(lr,features,target,cv=kf)
predictions=pd.Series(predictions)
# False positive 
fp_filter=(predictions==1)&(loans['loan_status']==0)
fp=len(predictions[fp_filter])

# True positive 
tp_filter=(predictions==1)&(loans['loan_status']==1)
tp =len(predictions[tp_filter])

# false negative 
fn_filter=(predictions==0)&(loans['loan_status']==0)
fn =len(predictions[tp_filter])
# True negative 
tn_filter=(predictions==0)&(loans['loan_status']==1)
tn=len(predictions[tp_filter])
tpr=tp/float((tp+tn))
fpr=fp/float((fp+tn))
print(tpr)
print(fpr)
print(predictions[:20])

0.5
0.09813448058450469
0     1
1     0
2     0
3     1
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    1
12    1
13    1
14    0
15    0
16    1
17    1
18    1
19    0
dtype: int64