In [42]:
import pandas as pd 
import numpy as np

In [43]:
rng=pd.date_range('2016/07/01',periods=10,freq='D')

In [44]:
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [45]:
rng=pd.date_range('2016/7/01',periods=10,freq='H')

In [46]:
rng

DatetimeIndex(['2016-07-01 00:00:00', '2016-07-01 01:00:00',
               '2016-07-01 02:00:00', '2016-07-01 03:00:00',
               '2016-07-01 04:00:00', '2016-07-01 05:00:00',
               '2016-07-01 06:00:00', '2016-07-01 07:00:00',
               '2016-07-01 08:00:00', '2016-07-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [47]:
rng=pd.date_range('2016/07/01',periods=10,freq='3D')

In [48]:
rng

DatetimeIndex(['2016-07-01', '2016-07-04', '2016-07-07', '2016-07-10',
               '2016-07-13', '2016-07-16', '2016-07-19', '2016-07-22',
               '2016-07-25', '2016-07-28'],
              dtype='datetime64[ns]', freq='3D')

In [49]:
rng=pd.date_range('1/7/2016',periods=10,freq='3D')

In [50]:
rng

DatetimeIndex(['2016-01-07', '2016-01-10', '2016-01-13', '2016-01-16',
               '2016-01-19', '2016-01-22', '2016-01-25', '2016-01-28',
               '2016-01-31', '2016-02-03'],
              dtype='datetime64[ns]', freq='3D')

In [51]:
time=pd.Series(np.random.randn(20),index=pd.date_range(pd.datetime(2016,1,1),periods=20))

In [52]:
 time

2016-01-01    0.598405
2016-01-02    0.668273
2016-01-03    0.400328
2016-01-04    1.299971
2016-01-05   -0.857812
2016-01-06    2.011047
2016-01-07    0.621657
2016-01-08   -0.125207
2016-01-09   -0.893390
2016-01-10   -0.423143
2016-01-11    1.382351
2016-01-12   -0.890416
2016-01-13   -1.322399
2016-01-14    1.884954
2016-01-15   -2.141231
2016-01-16   -1.107549
2016-01-17    1.235926
2016-01-18    0.093489
2016-01-19    0.189358
2016-01-20   -0.202293
Freq: D, dtype: float64

In [53]:
time.truncate(before='2016-1-10')

2016-01-10   -0.423143
2016-01-11    1.382351
2016-01-12   -0.890416
2016-01-13   -1.322399
2016-01-14    1.884954
2016-01-15   -2.141231
2016-01-16   -1.107549
2016-01-17    1.235926
2016-01-18    0.093489
2016-01-19    0.189358
2016-01-20   -0.202293
Freq: D, dtype: float64

In [54]:
time.truncate(after='2016-1-10')

2016-01-01    0.598405
2016-01-02    0.668273
2016-01-03    0.400328
2016-01-04    1.299971
2016-01-05   -0.857812
2016-01-06    2.011047
2016-01-07    0.621657
2016-01-08   -0.125207
2016-01-09   -0.893390
2016-01-10   -0.423143
Freq: D, dtype: float64

In [55]:
time.truncate(after='2016/1/10')

2016-01-01    0.598405
2016-01-02    0.668273
2016-01-03    0.400328
2016-01-04    1.299971
2016-01-05   -0.857812
2016-01-06    2.011047
2016-01-07    0.621657
2016-01-08   -0.125207
2016-01-09   -0.893390
2016-01-10   -0.423143
Freq: D, dtype: float64

In [56]:
data=pd.date_range('2010-01-01','2011-01-01',freq='M')

In [57]:
data

DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31'],
              dtype='datetime64[ns]', freq='M')

In [58]:
#时间戳  
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [59]:
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [60]:
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [61]:
t=pd.Timestamp('2016-07-10 10:15')

In [62]:
t

Timestamp('2016-07-10 10:15:00')

In [63]:
# 时间区间 
pd.Period('2016-01')

Period('2016-01', 'M')

In [64]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [65]:
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [66]:
pd.Period('2016-01-01 10:10')+pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [67]:
pd.Timestamp('2016-01-01 10:10')+pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [68]:
p1=pd.period_range('2016-01-01 10:10',freq='25H',periods=10)

In [69]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [70]:
p2=pd.period_range('2016-01-01 10:10',freq='1D1H',periods=10)

In [71]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [72]:
# 指定索引 
rng=pd.date_range('2016 Jul 1',periods=10,freq='D')

In [73]:
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.Series(range(len(rng)),index=rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int64

In [75]:
periods=[pd.Period('2016-01'),pd.Period('2016-02'),pd.Period('2016-03')]

In [76]:
periods

[Period('2016-01', 'M'), Period('2016-02', 'M'), Period('2016-03', 'M')]

In [77]:
ts=pd.Series(np.random.randn(len(periods)),index=periods)

In [81]:
ts

2016-01    1.823785
2016-02   -0.516458
2016-03    0.503716
Freq: M, dtype: float64

In [84]:
ts=ts.to_period()

In [88]:
ts=pd.Series(range(10),pd.date_range('07-10-16 8:00',periods=10,freq='H'))

In [89]:
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [90]:
ts_period=ts.to_period()

In [91]:
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [93]:
ts_period['2016-07-10 11:20':'2016-08-10 11:00']

2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [94]:
ts['2016-07-10 11:20':'2016-08-10 11:00']

2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [95]:
data=pd.date_range('2010-01-01','2011-01-01',freq='M')

In [96]:
data

DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31'],
              dtype='datetime64[ns]', freq='M')