In [5]:
import pandas as pd
import numpy as np
titanic_survival=pd.read_csv('titanic_train.csv')
print(titanic_survival.head())

age=titanic_survival['Age']
print(age)
print(age.loc[0:10])
age_is_null=pd.isnull(age)
print(age_is_null.head(10))
age_null_true=age[age_is_null]

age_null_count=len(age_null_true)
print(age_null_count)
print(age_is_null.tail(10))
print(age_null_true.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64
0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: Age, dtype: bool
177
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888     True
889    False
890    False
Name: Age, dtype: bool
5    NaN
17   NaN
19   NaN
26   NaN
28   NaN
Name: Age, dtype: float64

In [6]:
mean_age=sum(age)/len(age)
print(len(age))
print(len(pd.isnull(age)))
print(len(age[pd.isnull(age)]))
mean_age=age.sum()/(len(age)-len(age[pd.isnull(age)]))
print(mean_age)
correct_mean_age=age[age_is_null==False].mean()
print(correct_mean_age)

891
891
177
29.69911764705882
29.69911764705882

In [7]:
corrent_mean_age=titanic_survival['Age'].mean()
print(correct_mean_age)

print('4'*100)
passenger_classes=[1,2,3]
fares_by_class={}
for this_class in passenger_classes:
    pclass_rows=titanic_survival[this_class==titanic_survival['Pclass']]
    pclass_fares=pclass_rows['Fare']
    fares_for_class=pclass_fares.mean()
    fares_by_class[this_class]=fares_for_class
print(fares_by_class)

29.69911764705882
4444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444
{1: 84.1546875, 2: 20.662183152173913, 3: 13.675550101832993}

In [8]:
passenger_survival=titanic_survival.pivot_table(index='Pclass',values='Survived',aggfunc=np.mean)
print(passenger_survival)
passenger_age=titanic_survival.pivot_table(index='Pclass',values='Age')
print(passenger_age)

port_stats=titanic_survival.pivot_table(index='Embarked',values=['Fare','Survived'],aggfunc=np.sum)
print(port_stats)

drop_na_columns=titanic_survival.dropna(axis=1)
new_titanic_survival=titanic_survival.dropna(axis=0,subset=['Age','Sex'])
print('4'*100)
print(new_titanic_survival.head(10))

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363
              Age
Pclass
1       38.233441
2       29.877630
3       25.140620
                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217
4444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444
    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch            Ticket     Fare Cabin Embarked
0       0         A/5 21171   7.2500   NaN        S
1       0          PC 17599  71.2833   C85        C
2       0  STON/O2. 3101282   7.9250   NaN        S
3       0            113803  53.1000  C123        S
4       0            373450   8.0500   NaN        S
6       0             17463  51.8625   E46        S
7       1            349909  21.0750   NaN        S
8       2            347742  11.1333   NaN        S
9       0            237736  30.0708   NaN        C
10      1           PP 9549  16.7000    G6        S

In [9]:
row_index_83_age=titanic_survival.loc[83,'Age']
row_index_1000_pclass=titanic_survival.loc[766,'Pclass']
print(row_index_83_age)
print(row_index_1000_pclass)

28.0
1

In [10]:
def hundredth_row(column):
    hundredth_item=column.loc[99]
    return hundredth_item

hundredth_row=titanic_survival.apply(hundredth_row)
print(hundredth_row)

def not_null_count(column):
    # print(column)
    column_null=pd.isnull(column)
    null=column[column_null]
    return len(null)


column_null_count=titanic_survival.apply(not_null_count)
print(column_null_count)

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [13]:
def is_minor(row):
    if row['Age']<18:
        return True
    else:
        return False

minors=titanic_survival.apply(is_minor,axis=1)
print(minors)

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [18]:
def age_adult(row):
    age=row['Age']
    if pd.isnull(age):
        return 'unknown'
    elif age<18:
        return 'minor'
    else:
        return 'adult'
age_label=titanic_survival.apply(age_adult,axis=1)
print(age_label)

0        adult
1        adult
2        adult
3        adult
4        adult
        ...
886      adult
887      adult
888    unknown
889      adult
890      adult
Length: 891, dtype: object

In [21]:
# 存活率 
titanic_survival['age_labels']=age_label
age_group_survival=titanic_survival.pivot_table(index='age_labels',values='Survived')
print(age_group_survival)
age_sum_group_survival=titanic_survival.pivot_table(index='age_labels',values='Survived',aggfunc=sum)
print(age_sum_group_survival)

            Survived
age_labels
adult       0.381032
minor       0.539823
unknown     0.293785
            Survived
age_labels
adult            229
minor             61
unknown           52