In [2]:

import pandas as pd
import jieba
df_news=pd.read_table("./data/val.txt",names=['category','theme','URL','content'],encoding='utf-8')
df_news=df_news.dropna()

ImportError: No module named 'jieba'

In [3]:

print(df_news.head())

  category                                 theme  \
0       汽车  新辉腾　４．２　Ｖ８　４座加长Ｉｎｄｉｖｉｄｕａｌ版２０１１款　最新报价
1       汽车                         ９１８　Ｓｐｙｄｅｒ概念车
2       汽车              日内瓦亮相　ＭＩＮＩ性能版／概念车－１．６Ｔ引擎
3       汽车                清仓大甩卖一汽夏利Ｎ５威志Ｖ２低至３．３９万
4       汽车                    大众敞篷家族新成员　高尔夫敞篷版实拍

                                                 URL  \
0        http://auto.data.people.com.cn/model_15782/
1  http://auto.data.people.com.cn/prdview_165423....
2  http://auto.data.people.com.cn/news/story_5249...
3  http://auto.data.people.com.cn/news/story_6144...
4  http://auto.data.people.com.cn/news/story_5686...

                                             content
0  经销商　电话　试驾／订车Ｕ憬杭州滨江区江陵路１７８０号４００８－１１２２３３转５８６４＃保常...
1       呼叫热线　４００８－１００－３００　服务邮箱　ｋｆ＠ｐｅｏｐｌｅｄａｉｌｙ．ｃｏｍ．ｃｎ
2  ＭＩＮＩ品牌在二月曾经公布了最新的ＭＩＮＩ新概念车Ｃｌｕｂｖａｎ效果图，不过现在在日内瓦车展...
3  清仓大甩卖！一汽夏利Ｎ５、威志Ｖ２低至３．３９万＝日，启新中国一汽强势推出一汽夏利Ｎ５、威志...
4  在今年３月的日内瓦车展上，我们见到了高尔夫家族的新成员，高尔夫敞篷版，这款全新敞篷车受到了众...

In [4]:
df_news.shape

(5000, 4)

In [9]:
content=df_news.content.values.tolist()

In [ ]:
content[1000]

In [ ]:
content_S=[]
for line in content:
    current_segment=jieba.lcut(line)
    if len(current_segment)>1 and current_segment!='\r\n':
        content_S.append(current_segment)

In [17]:
len(content_S)

5000

In [19]:
content_S[1000]

['阿里巴巴',
 '集团',
 '昨日',
 '宣布',
 '，',
 '将',
 '在',
 '集团',
 '管理',
 '层面',
 '设立',
 '首席',
 '数据',
 '官',
 '岗位',
 '（',
 'Ｃ',
 'ｈ',
 'ｉ',
 'ｅ',
 'ｆ',
 '\u3000',
 'Ｄ',
 'ａ',
 'ｔ',
 'ａ',
 '\u3000',
 'Ｏ',
 'ｆ',
 'ｆ',
 'ｉ',
 'ｃ',
 'ｅ',
 'ｒ',
 '）',
 '，',
 '阿里巴巴',
 'Ｂ',
 '２',
 'Ｂ',
 '公司',
 'Ｃ',
 'Ｅ',
 'Ｏ',
 '陆兆禧',
 '将',
 '会',
 '出任',
 '上述',
 '职务',
 '，',
 '向',
 '集团',
 'Ｃ',
 'Ｅ',
 'Ｏ',
 '马云',
 '直接',
 '汇报',
 '。',
 '＞',
 '菹',
 'ぃ',
 '和',
 '６',
 '月初',
 '的',
 '首席',
 '风险',
 '官',
 '职务',
 '任命',
 '相同',
 '，',
 '首席',
 '数据',
 '官亦为',
 '阿里巴巴',
 '集团',
 '在',
 '完成',
 '与',
 '雅虎',
 '股权',
 '谈判',
 '，',
 '推进',
 '“',
 'ｏ',
 'ｎ',
 'ｅ',
 '\u3000',
 'ｃ',
 'ｏ',
 'ｍ',
 'ｐ',
 'ａ',
 'ｎ',
 'ｙ',
 '”',
 '目标',
 '后',
 '，',
 '在',
 '集团',
 '决策',
 '层面',
 '新增',
 '的',
 '管理',
 '岗位',
 '。',
 '０',
 '⒗',
 '锛',
 '团',
 '昨日',
 '表示',
 '，',
 '“',
 '变成',
 '一家',
 '真正',
 '意义',
 '上',
 '的',
 '数据',
 '公司',
 '”',
 '已',
 '是',
 '战略',
 '共识',
 '。',
 '记者',
 '刘夏']

In [39]:
df_content=pd.DataFrame({'content_S':content_S})
df_content.head()

                                           content_S
0  [经销商, 　, 电话, 　, 试驾, ／, 订车, Ｕ, 憬, 杭州, 滨江区, 江陵, ...
1  [呼叫, 热线, 　, ４, ０, ０, ８, －, １, ０, ０, －, ３, ０, ０...
2  [Ｍ, Ｉ, Ｎ, Ｉ, 品牌, 在, 二月, 曾经, 公布, 了, 最新, 的, Ｍ, Ｉ...
3  [清仓, 大, 甩卖, ！, 一汽, 夏利, Ｎ, ５, 、, 威志, Ｖ, ２, 低至, ...
4  [在, 今年, ３, 月, 的, 日内瓦, 车展, 上, ，, 我们, 见到, 了, 高尔夫...

In [40]:
df_content.shape

(5000, 1)

In [41]:
stopwords=pd.read_csv('stopwords.txt',index_col=False,sep='\t',quoting=3,names=['stopword'],encoding='utf-8')

In [42]:
stopwords.head(20)

               stopword
0                     !
1                     "
2                     #
3                     $
4                     %
5                     &
6                     '
7                     (
8                     )
9                     *
10                    +
11                    ,
12                    -
13                   --
14                    .
15                   ..
16                  ...
17               ......
18  ...................
19                   ./

In [43]:
def drop_stopwords(contents,stopwords):
    contents_clean=[]
    all_words=[]
    for line in contents:
        line_clean=[]
        for word in line:
            if word in stopwords:
                continue;
            line_clean.append(word)
            all_words.append(str(word))
        contents_clean.append(line_clean)
    return contents_clean,all_words

contents=df_content.content_S.values.tolist()
stopwords=stopwords.stopword.values.tolist()
contents_clean,all_words=drop_stopwords(contents,stopwords)

In [46]:
df_content=pd.DataFrame({'contents_clean':contents_clean})

In [47]:
df_content.head()

                                      contents_clean
0  [经销商, 电话, 试驾, 订车, Ｕ, 憬, 杭州, 滨江区, 江陵, 路, 号, 转, ...
1  [呼叫, 热线, 服务, 邮箱, ｋ, ｆ, ｐ, ｅ, ｏ, ｐ, ｌ, ｅ, ｄ, ａ,...
2  [Ｍ, Ｉ, Ｎ, Ｉ, 品牌, 二月, 公布, 最新, Ｍ, Ｉ, Ｎ, Ｉ, 新, 概念...
3  [清仓, 甩卖, 一汽, 夏利, Ｎ, 威志, Ｖ, 低至, 万, 启新, 中国, 一汽, ...
4  [日内瓦, 车展, 见到, 高尔夫, 家族, 新, 成员, 高尔夫, 敞篷版, 款, 全新,...

In [48]:
df_content.shape

(5000, 1)

In [51]:
all_words[:5]

['经销商', '电话', '试驾', '订车', 'Ｕ']

In [52]:
type(all_words)

list

In [53]:
type(df_content)

pandas.core.frame.DataFrame

In [54]:
df_all_words=pd.DataFrame({'all_words':all_words})

In [55]:
df_all_words.head()

  all_words
0       经销商
1        电话
2        试驾
3        订车
4         Ｕ

In [56]:
df_all_words.all_words.head()

0    经销商
1     电话
2     试驾
3     订车
4      Ｕ
Name: all_words, dtype: object

In [58]:
df_all_words.all_words.values[:5]

array(['经销商', '电话', '试驾', '订车', 'Ｕ'], dtype=object)

In [61]:
import numpy
words_count=df_all_words.groupby(by=['all_words'])['all_words'].agg({'count':numpy.size})

SpecificationError: nested renamer is not supported